body{
    background-color: bisque;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


header{
    text-align: center;
    border: 3px solid rosybrown;
}

ol{
    font-size: 25px;
    margin: 23px 50px;

}

#external_h1{
    color: green;

}

#inline_h1{
    color: blue;
}
#internal_h1{
    color: red;
}

h2{
    text-align: left;
    text-shadow: 10px 1px 12px rgb(228, 232, 117);
    

}